@font-face {
  font-family: "Beetype-Filled";
  src: url("../assets/fonts/btf/Beetype-Filled.otf");
}

@font-face {
  font-family: "Geometry-Soft-Pro";
  src: url("../assets/fonts/gsp/Geometry_Soft_Pro-Bold_N.otf");
}

@font-face {
  font-family: "Hex-Girlfriend";
  src: url("../assets/fonts/hgf/HexGirlfriend.ttf");
}

@font-face {
  font-family: Kelvetica;
  src: url("../assets/fonts/kelvetica/Kelvetica.otf");
}

@font-face {
  font-family: "Proza-Libre";
  src: url("../assets/fonts/proza-libre/ProzaLibre-Medium.ttf");
}

/*
@font-face {
    font-family: "DejaVu";
    src: url("../assets/fonts/dejavu/DejaVuSansMono.ttf");
}
@font-face {
	font-family: "DejaVu";
    src: url("../assets/fonts/dejavu/DejaVuSansMono-Bold.ttf");
}
@font-face {
	font-family: "DejaVu";
    src: url("../assets/fonts/dejavu/DejaVuSansMono-Oblique.ttf");
}
@font-face {
	font-family: "DejaVu";
    src: url("../assets/fonts/dejavu/DejaVuSansMono-BoldOblique.ttf");
}
*/
@keyframes bg-position {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 0px -700px;
  }
  100% {
    background-position: 0px 0px;
  }
}

.CodeMirror {
  font-size: 22pt;
}

.no-edge, html, body, body #navbar, body #navbar * {
  margin: 0px;
  padding: 0px;
  border: none;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Proza-Libre";
}

body {
  background-image: url("../assets/bg1.jpg");
  background-size: 100%;
  background-position: 0px 200px;
  background-repeat: no-repeat;
}

body #navbar {
  position: relative;
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Beetype-Filled";
}

body #navbar a#github {
  position: absolute;
  right: 0px;
  top: 0px;
}

body #navbar a#github img {
  height: 100px;
}

body #navbar #logo {
  height: 100px;
  position: absolute;
  display: inline-block;
  left: 50px;
  text-decoration: none;
  color: white;
}

body #navbar #logo img {
  height: 100%;
}

body #navbar #logo span {
  font-size: 30px;
}

body #navbar ul {
  display: inline-block;
  font-size: 25px;
  margin-left: 200px;
  margin-right: 200px;
  vertical-align: bottom;
}

body #navbar ul a {
  line-height: 25px;
  vertical-align: bottom;
  color: white;
}

body #navbar ul a:hover {
  color: blue;
}

body #navbar ul li {
  display: inline-block;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

body #content {
  background-color: white;
  min-height: calc(100% - 100px);
}

body #content #docs {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  padding-top: 20px;
  width: calc(100% - 400px);
  font-size: 14pt;
}

body #content #docs ul {
  list-style-type: disc;
  list-style-image: url("../assets/bullet.hex-blue_10_10.png");
}

body #content #docs p code {
  background-color: white;
  border: 2px solid white;
  border-radius: 2px;
  font-size: 12pt;
}

body #content #docs table {
  border-collapse: collapse;
  width: 100%;
}

body #content #docs table td, body #content #docs table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  width: 50%;
}

body #content #docs pre {
  border: 0px solid black;
  border-left-width: 4px;
}

body #content #docs code.language-js, body #content #docs code.language-bzb {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: block;
  background-color: #dddddd;
  border: 10px solid #dddddd;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
